* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.48;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
