* {
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
    margin: 0;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.48;
}
.jumbo-banner {
    background-image: url(../img/banner%20.jpg);
    background-size: cover;
    height: 100%;
    min-height: 539px;
    background-position: center;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear:both;
  padding-top:20px;
}
a {
    text-decoration: none;
    color: #343a40;
}

a:link {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
    color: darkgray;
}
.dropdown-item.active {
    background-color: #343a40;
}
.auth-form, .reg-form, .cart-form{
    margin: 0 auto;
    padding: 20px;
background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}
