* {
    box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

html,
body {
 height: 100%;
 position: relative;
}

body {
    margin: 0;
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.48;
}
.main_card {
    text-align: center;
}
.bdr {
    border-radius: 0.25em;
}
.blue {
    background-color: blue;
}
.carousel-inner {
     box-shadow: 0 0 10px #343a40;
}

#wrap {
     min-height: 100vh;
     overflow: hidden;
     display: block;
     position: relative;
    background-color: darkgray;
}

#main {
    overflow:auto;
    padding-bottom:3.5em;
    padding-top: 4em;
}

.footer {
     position: relative;
     bottom: 0;
     width: 100%;
}
a {
    text-decoration: none;
    color: #343a40;
}

a:link {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
    color: darkgray;
}
.dropdown-item.active {
    background-color: #343a40;
}
.auth-form, .reg-form, .cart-form{
    border-radius: 0.25em;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px #343a40;
}
.scroll {
    width: 100%;
    overflow-x: auto;
}
.card {
    box-shadow: 0 0 10px #343a40;
/*    background-color: white;*/
}
.map-body {
    overflow: auto;
}
.page-link {
    color: #fff;
    background-color: #6c757d;
    border: 1px solid darkgray;
}
